body{
    overflow-x: hidden;
    margin:0;
    background-image: linear-gradient(cyan ,green);
}

#tag
{
    font-size:20px;
    font-family: 'Petit Formal Script', cursive;
    text-align: left;
    color:red;
}
.webname
{
    display: flex;
    color: darkmagenta;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
.webname > div
{
    margin-top: 50px;
    padding: 20px;
    font-family: 'Kaushan Script', cursive;
    font-size:60px;
    
}

nav
{
    background:wheat;
    color:black;
    top: 0;
    width: 100%;
    position: fixed;
}
nav li
{   

    display: inline;
    font-family: 'Kaushan Script', cursive;
    font-size: 20px;
}
 a:hover
{
    color: gray;
    font-size: 30px;
    
}

.hero {
    width: 100%;
    height: 700px;
    background: url("../image/parking.jpg") no-repeat;

}
.desc 
{

     font-family: 'Kaushan Script', cursive;
    font-size:40px;
    text-align: bottom center;
    bottom:20px;
    right:15px;
    background-color:transparent;
    color:lightgray;
    padding :20px;
}

a{
    margin-top: 0;
    padding:0 55px;
}


.About 
{
    justify-content:flex-end;
    display: flex;
    
    flex-wrap: nowrap;
  }
  
  .About > div 
  {
    
    flex:50%;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    color:darkorange;
    font-family: 'Petit Formal Script', cursive; 
  }

  #spec
  {
      text-align:center;
      color:darkmagenta;
      font-size:40px;
       font-family: 'Kaushan Script',cursive; 
  }
  .features
  {
      display: flex;
      flex-wrap: nowrap;
      
  }
  .features > div
  {
      flex: 33.3%;
      color: darkmagenta;
      font-family: 'Petit Formal Script', cursive; 
      text-align: center;
      
  }
  

  #phone
  {
      text-align: center;
      
  }
  #phone img
  {
      width:100%;
      height:400px;

  }
  #app
  { font-style: serif;
    
    color: darkmagenta;
  }
  #app img
  {
    width:200px; 
    height:100px;
  }
  footer
  {
    background: wheat;
    display: flex;
    justify-content: space-evenly;
  }

  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    
  }
  .fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
@media screen and (max-width:375px)
{   
    nav :not(:first-child)
    {
        display: none;
    }
    span
    {
        font-size:35px;
    }
    #tag
    {
        font-size: 10px;
    }
    .hero
    {   
        width:100%;
        height:auto;
        background-size: contain; 
    }
    
    .desc
    {
        font-family: 'Kaushan Script', cursive;
        font-size:20px;
    }
    .About
    {
        width: 100%;
        display: block;
    }
    .About > div
    {
        font-size: 20px;
        
    }
    #city
    {
        width:100%;
        height: auto;
    }
    #phone 
    {
        display: none;
      
    }
    .features
    {
        width:100%;
        display: block;
    }
}
@media screen and (max-width:575px)
{   
    nav :not(:first-child)
    {
        display: none;
    }
    span
    {
        font-size:50px;
    }
    #tag
    {
        font-size: 20px;
    }
    .hero
    {   
        width:100%;
        height:auto;
        background-size: contain; 
    }
    
    .desc
    {
        font-family: 'Kaushan Script', cursive;
        font-size:35px;
    }
    .About
    {
        width: 100%;
        display: block;
    }
    .About > div
    {
        font-size: 20px;
        
    }
    #city
    {
        width:100%;
        height: auto;
    }
    #phone 
    {
        display: none;
      
    }
    .features
    {
        width:100%;
        display: block;
    }
}